body {
    font-family: "Kallisto", sans-serif;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-size: 1000px 1000px; /* Ajusta la imagen para cubrir el 100% de la altura y el ancho */
    background-position: center;
}

/* ENCABEZADO */
header {
    background-color: #B0C4DE;
    color: black;
    padding: 30px;
    text-align: center;
}

/* Estilo de la barra de navegación */
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul li {
    margin-right: 20px;
    transition: background-color 0.3s ease;
    color: black;
    font-size: 16px;
    letter-spacing: 0.5px;
}

nav ul li:hover {
    background-color: #87CEEB; /* Cambiado el color de fondo al pasar el ratón */
}

nav ul li img {
    vertical-align: middle;
}

nav a {
    text-decoration: none;
    color: black;
    font-family: "Kallisto", sans-serif;
}
/* ENCABEZADO */
section {  
    max-width: 800px;
    margin: 50px auto;
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

/* NOSOTROS */
#Nosotros {
    background-color: #B0E0E6	 ;
    max-width: 1762px; 
    margin: 0 auto;
    padding: 130px; 
}

.nosotros-section {
    display: flex;
    flex-direction: column; /* Alinea los elementos en columna */
    align-items: flex-start;
}

.nosotros-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.nosotros-text {
    flex: 1;
    text-align: left; /* Alinea el texto a la izquierda */
    max-width: 600px; /* Limita el ancho del texto */
    line-height: 1.5; /* Espaciado entre líneas */
}

.nosotros-image {
    margin-left: 300px; /* Ajusta el margen izquierdo para mover la imagen a la derecha */
    margin-top: 10px; /* Agrega espacio superior */
}

#Nosotros h2 {
    text-align: left; /* Alinea el encabezado a la izquierda */
    font-size: 2em; /* Tamaño de fuente más grande */
    margin-bottom: 20px; /* Espacio inferior */
}
/* NOSOTROS */

/* CATALOGO */

#Catalogo {
    background-color: #FFFFE0	 ;
    max-width: 1762px;
    margin: 0 auto;
    padding: 130px;
}

#Catalogo article {
    margin-bottom: 30px;
    display: inline-block;
    width: 30%; /* Cambiado el ancho para acomodar dos columnas */
    box-sizing: border-box;
    margin-left: 40px; /* Ajusta el margen izquierdo para mover la imagen a la derecha */
}

#Catalogo figure {
    text-align: center;
}

#Catalogo figure img {
    height: 290px; /* Ajusta la altura según tus preferencias */
    width: 290px; /* Ajusta el ancho según tus preferencias */
}
/* CATALOGO */

/* CONTACTO */
#Contacto {
    background-color: #B0E0E6;
    max-width: 1720px;
    margin: 0 auto;
    padding: 130px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Alinea los elementos en la parte superior */
}

#Contacto form {
    flex: 1; 
    margin-right: 220px; /* Reducido el margen derecho */
}

#Contacto h2 {
    text-align: left; /* Alinea el encabezado a la izquierda */
    font-size: 2em; /* Tamaño de fuente más grande */
    margin-bottom: 20px; /* Espacio inferior */
}

#Mapa {
    flex: 1; 
    max-width: 600px; 
    margin-right: 50px; /* Reducido el margen derecho */
    margin-top: 20px; /* Ajusta el margen superior */
    margin-bottom: 20px; /* Ajusta el margen inferior */
}

/* CONTACTO */

label {
    display: block;
    margin-bottom: 8px;
}

input, select, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #007bff; /* Color de fondo del botón */
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3; /* Cambio de color al pasar el ratón */
}

/* PIE DE PAGINA */
footer {
    background-color: #343a40; /* Color de fondo del pie de página */
    color: white; /* Color del texto del pie de página */
    text-align: center;
    padding: 15px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
/* PIE DE PAGINA */